/* Stylesheet */

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}

h1 {
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 30px;
  color: #eee;
  text-align: center;
  background: #333;
}

.row {
  text-align: center;
  border: 1px solid gray;
  height: 50px;
  line-height: 50px;
}

.forecast {
  text-align: left;
  border: unset;
  padding-left: 0;
}

.savedSearches {
  float: left;
  padding-top: 20px;
}

.displayWeather {
  float: right;
  padding-top: 20px;
}

.eachDay {
  padding:0;
}