/* Stylesheet */

body {
  /* Box-model */
  padding: 0;

  /* Positioning */
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  /* Typography */

  font-size: 18px;
  line-height: 150%;
  color: #333;

  /* Visual */
  background: #efeee7;
}

h1 {
  /* Box-model */
  padding: 20px 0;

  /* Positioning */
  margin-bottom: 20px;
  font-size: 30px;

  /* Typography */
  color: #eee;
  text-align: center;

  /* Visual */
  background: #333;
}
